services:
  jupyter:
    image: jupyter/datascience-notebook:latest
    container_name: drugx-jupyter
    ports:
      - "8888:8888"
    volumes:
      - .:/home/jovyan/work
    environment:
      - JUPYTER_ENABLE_LAB=yes
    networks:
      - drugx-network

  app:
    build: .
    container_name: drugx-app
    ports:
      - "7860:7860"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - PYTHONPATH=/app
    volumes:
      - .:/app
    networks:
      - drugx-network
    env_file:
      - .env

networks:
  drugx-network:
    driver: bridge
